body {
    font-family: 'Open Sans', sans-serif;  
    text-align: center;
    margin: 0;
}   

.container {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
}

#globo img {
    margin-bottom: 32px;
}

#globo {
    width: 540px;
    margin: 64px auto;
}
h1 {
    color: #3F3D56;
    font-family: 'Dosis', sans-serif;
    font-size: 32px;    
    font-weight: normal;
    width: 550px;
    margin-bottom: 16px;
}

h1 span {
    font-weight: bold;

    color: #EE24FF;
}

p {
    width: 540px;
    height: 107px;
    font-size: 15px;
    line-height: 22px;

    color: #828282;
}

#segundo p {
    width: 540px;
    height: 0;
}
strong {

    color: #3F3D56;
}

a {
    width: 540px;
    height: 107px;
    font-size: 15px;
    line-height: 22px;

    color: #3F3D56;

    text-decoration: none
}

#line {
    width: 391px;
    height: 0;

    margin: 0 auto 16px;
        
    border: 1px solid #ECEFF2;
}

#footer {
    margin-bottom: 35px;
}

#footer a + a{
    margin-left: 42px;
}

.base {
    width: 100%;
    height: 104px;
    margin-bottom: -10px;
}